<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <form action="/login" method="post">
      <a href="./"><button type="submit" name="button"></button></a>
    </form>
  </body>
</html>
